@model DemoSo1.Models.HoaDon

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>HoaDon</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.HangHoa.TenHang)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HangHoa.TenHang)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TenHoaDon)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenHoaDon)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NgayMua)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgayMua)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID_HD }) |
    @Html.ActionLink("Back to List", "Index")
</p>
